<div class="row">
  <!-- Left side -->
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <!-- Allow notification btn -->
    <section>
      <!-- In not allow -->
      <%= form_for(current_user,
                  url: {action: 'update_notif', controller: 'users'},
                  html: { method: :post },
                  remote: true) do |f| %>
        <div><%= hidden_field_tag :id, current_user.id %></div>
        <% unless current_user.followed_notification %>
          <%= f.submit "通知を有効にする", class: "btn btn-primary" %>
        <% else %>
          <%= f.submit "通知を無効にする", class: "btn" %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <!-- Right side -->
  <div class="col-md-8">
    <h3>グルメ達のさえずり</h3>
    <%= render 'shared/feed' %>
  </div>
</div>